RequirementDefinitionV1(
    title: "Validation",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "abcdef1234"
    ),
    dependency: RequirementReferenceV1(
        path: "requirements/implementation",
        commit: "abcdef1234"
    ),
)
