RequirementDefinitionV1(
    title: "Validation",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "4556735c20db4c7390a66aa5266cedad27ea8a67",
    ),
    tests: None,
    dependency: RequirementReferenceV1(
        path: "requirements/implementation",
        commit: "07b53180d4cdcce38d1566e3d2c690b479be1514",
    ),
    dependencies: None,
    attachment: None,
    attachments: None,
    include_attachments_in_commit: true,
)