TestV1(
    title: "Generic Analysis",
    result_kind: FreeForm,
    attachment: LocalAttachmentReferenceV1(
        name: "checklist",
        path: "checklist.md"
    ),
    template: LocalTemplateReferenceV1(
        name: "result",
        path: "result.typ"
    ),
)
