TestV1(
    title: "Generic Analysis",
    result_kind: FreeForm,
    attachment: LocalAttachmentReferenceV1(
        name: "checklist",
        path: "checklist.md",
    ),
    attachments: None,
    template: LocalTemplateReferenceV1(
        name: "result",
        path: "result.typ",
    ),
    templates: None,
    include_attachments_in_commit: true,
    include_template_in_commit: true,
)