RequirementDefinitionV1(
    title: "Discovery",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "4556735c20db4c7390a66aa5266cedad27ea8a67",
    ),
    tests: None,
    dependency: None,
    dependencies: None,
    attachment: LocalAttachmentReferenceV1(
        name: "research-notes",
        path: "research-notes.txt",
    ),
    attachments: None,
    include_attachments_in_commit: true,
)