RequirementV1(
    title: "Validation",
    test: TestV1(
        path: "/tests/generic_inspection",
        commit: "abcdef1234"
    ),
    tests: None,
    dependency: RequirementDepV1(
        path: "requirements/implementation"
        commit: "abcdef1234"
    ),
    dependencies: None,
)

