RequirementDefinitionV1(
    title: "Verification",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "07b53180d4cdcce38d1566e3d2c690b479be1514"
    ),
    dependency: RequirementReferenceV1(
        path: "requirements/validation",
        commit: "07b53180d4cdcce38d1566e3d2c690b479be1514"
    ),
)
