RequirementDefinitionV1(
    title: "Implementation",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "4556735c20db4c7390a66aa5266cedad27ea8a67",
    ),
    tests: None,
    dependency: Submodules,
    dependencies: None,
    attachment: None,
    attachments: None,
    include_attachments_in_commit: true,
)