RecentProjects(
    paths: [
        "/home/user/Desktop/ms_capstone",
        "/home/user/Programming/requirements/test_project",
        "/home/user/Desktop/tmp_delete",
        "/home/user/Programming/requirements/sample_project",
    ],
)