TestV1(
    title: "Generic Test",
    result_kind: FreeForm,
    attachment: None,
    attachments: None,
    template: LocalTemplateReferenceV1(
        name: "result",
        path: "result.typ",
    ),
    templates: None,
    include_attachments_in_commit: true,
    include_template_in_commit: true,
)