RequirementDefinitionV1(
    title: "Definition",
    test: TestReferenceV1(
        path: "/tests/generic_inspection",
        commit: "abcdef1234"
    ),
    dependency: RequirementReferenceV1(
        path: "requirements/discovery",
        commit: "abcdef1234"
    ),
)